.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

application/sessions/ci_session514c30ba20dee51a6703f0caff76e50479a120fc

application/sessions/ci_session6e1044eaf1a0641251f2741cf496b5e5397b6c12

application/sessions/ci_sessionf2eaab68a938257a6ffa34dcab6f4a7afaa1c4ec
